<% layout('/layouts/boilerplate') %>
<div class="container mt-4">
	<div class="row">
		<% if (campgrounds.length > 0) { %> <% campgrounds.forEach(campground => {
		%>
		<div class="col-12 col-md-6 col-lg-4 mb-4">
			<div class="card gradient-card">
				<img
					src="<%= campground.images[0].url %>"
					class="card-img-top"
					alt="Campground Image"
					style="height: 200px; object-fit: cover"
				/>
				<div class="card-body">
					<h5 class="card-title"><%= campground.title %></h5>
					<p class="card-text">
						<%= campground.description.substring(0,25) %>...
					</p>
					<p class="card-text">
						<strong>Likes:</strong> <%= campground.likes.length %>
					</p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-info"
						>View Details</a
					>
				</div>
			</div>
		</div>
		<% }); %> <% } else { %>
		<div class="col-md-12">
			<p>No bookmarks found!!!</p>
		</div>
		<% } %>
	</div>
</div>
